html,
body,
h1,
h2,
p
{
    margin: 0;
}

ol, ul
{
    list-style: none outside none;
}

a
{
    color: #6DA3BD;
}

a:hover
{
    color: #4D7285;
}

body
{
    background: #fff;
    font: 400 14px Arial, Helvetica, sans-serif;
    text-align: left;
    color: #000;
    min-width: 600px;
    padding: 10px;
}

header
{
    height: 195px;
    border-bottom: 4px solid #fc3;
}

h1
{
    font: 400 36px Verdana, Helvetica, sans-serif;
    text-align: center;
    padding: 0 0 10px;
}

h1 span
{
    color: #f00;
}

button
{
    background-color: #bfbfbf;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 0.3em 0.3em rgba(255, 254, 255, 0.6) inset, 0 -0.1em 0.3em rgba(0, 0, 0, 0.15) inset, 0 0.1em 3px #999, 0 0.3em 1px #727272, 0 0.5em 5px rgba(0, 0, 0, 0.2);
    color: #333;
    display: inline-block;
    font: bold 14px/1em Arial, Helvetica, sans-serif;
    margin: 0.5em;
    padding: 0.5em 0.6em 0.4em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease-in-out 0s;
}

button:hover
{
    background: #D3D3D3;
    cursor: pointer;
}

button:active
{
    box-shadow: 0 0.3em 0.3em rgba(255, 255, 255, 0.6) inset, 0 -0.1em 0.3em rgba(0, 0, 0, 0.2) inset, 0 0.1em 1px rgba(0, 0, 0, 0.4), 0 0.2em 6px rgba(0, 0, 0, 0.2);
    transform: translateY(0.2em);
}

button:focus
{
    color: rgba(254, 255, 255, 0.898);
    outline: medium none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover
{
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-top: medium none;
    box-shadow: 0 0.3em 0.3em rgba(255, 254, 255, 0.4) inset, 0 -0.1em 0.3em rgba(0, 0, 0, 0.1) inset, 0 0.1em 1px rgba(0, 0, 0, 0.3), 0 0.2em 6px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    cursor: default;
    opacity: 0.5;
    text-shadow: none;
    transform: translateY(5px);
}

input
{
    width:  33px;
}

.settings
{
    float: left;
}

.settings span
{
    font-weight: 700;
}

.settings .setting
{
    padding: 3px 0;
}

.settings .setting .words
{
    float: left;
    padding: 5px 46px 0 0;
}

.settings .setting .proffer
{
    float: left;
    padding: 5px 32px 0 0;
}

.settings .setting .paragraph
{
    float: left;
    padding: 5px 49px 0 0;
}

.buttons
{
    float: right;
    margin: 34px 0 0;
    text-align: center;
    width: 250px;
}

.buttons .control
{
    text-align: center;
    padding: 3px 0;
}

.buttons .control label
{
    padding: 5px 0 0;
}

#loading
{
    background: #fff;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
}

#loading img
{
    margin: 70px 50%;
}

section
{
    width: 880px;
    margin: 30px auto;
}

header section
{
    margin: 0 auto;
}


article .published
{
    color: #7E7E7E;
    font-size: 11px;
    margin: 0 0 2px;
}


article h1.title
{
    color: #333333;
    font: normal 30px/118% sVerdana,Tahoma,sans-serif;
    margin: 0 0 8px;
    letter-spacing: -1px;
    padding: 0;
    text-align: left;
}

article .hubs {
    background: url("../images/hub.icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #999;
    font-size: 11px;
    margin: 0 0 15px;
    padding: 2px 25px;
}

article .hubs a
{
    color: #999;
}

article .content
{
    font: 13px/160% Verdana,sans-serif;
    margin: 0 0 15px;
    overflow: hidden;
}

article .content p
{
    padding: 10px 0;
}

article .content code
{
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 3px;
    color: #222;
    font-family: 12px Menlo,Monaco,"Courier New",monospace;
    padding: 0 4px;
    margin: 15px 0;
    white-space: pre-wrap;
    display: block;
}

article ul.tags
{
    background: url("../images/bg-tags2.gif") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    font: 10px Verdana,sans-serif;
    margin: 0 0 15px;
    padding: 2px 0 2px 20px;
}

article ul.tags li
{
    color: #999;
    display: inline;
}

article ul.tags li a
{
    color: #666;
}

article .infopanel
{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    display: inline-block;
    font-family: 11px Arial,sans-serif;
    padding: 0 10px;
    vertical-align: middle;
}

article .infopanel .voting
{
    float: left;
    margin: 6px 26px 6px 0;
    padding: 0 20px;
    position: relative;
}

article .infopanel .voting span.plus
{
    background: url("../images/icons_vote_posts.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
}

article .infopanel .voting .plus
{
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    width: 11px;
}

article .infopanel .voting .mark
{
    color: #A9A9A9;
    float: left;
    font-size: 12px;
    font-weight: 700;
    margin-top: 1px;
}

article .infopanel .voting .mark.positive span
{
    color: #390;
}

article .infopanel .voting span.minus
{
    background: url("../images/icons_vote_posts.gif") no-repeat scroll right bottom rgba(0, 0, 0, 0);
}

article .infopanel .voting .minus
{
    display: block;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
}

article .infopanel .pageviews
{
    background: url("../images/pageviews.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
    float: left;
    font-size: 9px;
    line-height: 28px;
    margin: 0 20px 0 0;
    padding: 0 0 0 20px;
}

article .infopanel .favorite
{
    float: left;
    margin: 0 5px 0 0;
    padding: 6px 0 5px;
}

article .infopanel .favorite a.guest
{
    background: url("../images/favorite.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
    cursor: help;
}

article .infopanel .favorite a
{
    display: block;
    height: 13px;
    margin: 1px 0 0 0;
    width: 15px;
}

article .infopanel .favs_count
{
    cursor: help;
    display: block;
    float: left;
    font-size: 9px;
    line-height: 28px;
    overflow: hidden;
    position: relative;
}

article .infopanel .author
{
    background: url("../images/bg-user2.gif") no-repeat scroll 0 7px rgba(0, 0, 0, 0);
    float: left;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 0 19px;
    padding: 0 0 0 17px;
    position: relative;
}

article .infopanel .author a
{
    color: #CF0000;
    font-size: 9px;
    text-decoration: none;
}

article .infopanel .author a:hover
{
    color: #F17D7D;
}

article .infopanel .author .rating
{
    color: #C6C;
    cursor: help;
    font-size: 9px;
    font-weight: 700;
    left: 0;
    position: relative;
    top: -5px;
    white-space: nowrap;
}

article .infopanel .share
{
    float: left;
    margin-left: 19px;
    overflow: hidden;
}

article .infopanel .twitter,
article .infopanel .vkontakte,
article .infopanel .facebook,
article .infopanel .googleplus
{
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 0;
}

article .infopanel .twitter a
{
    background: url("../images/share.icons.png") no-repeat scroll -42px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 19px;
    opacity: 0.5;
    width: 19px;
}

article .infopanel .vkontakte a
{
    background: url("../images/share.icons.png") no-repeat scroll -21px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 19px;
    opacity: 0.5;
    width: 19px;
}

article .infopanel .facebook a
{
    background: url("../images/share.icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 19px;
    opacity: 0.5;
    width: 19px;
}

article .infopanel .googleplus a
{
    background: url("../images/share.icons.png") no-repeat scroll -63px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 19px;
    opacity: 0.5;
    width: 19px;
}

article .infopanel .twitter a:hover
{
    background: url("../images/share.icons.png") no-repeat scroll -42px -21px rgba(0, 0, 0, 0);
    opacity: 1;
}

article .infopanel .vkontakte a:hover
{
    background: url("../images/share.icons.png") no-repeat scroll -21px -21px rgba(0, 0, 0, 0);
    opacity: 1;
}

article .infopanel .facebook a:hover
{
    background: url("../images/share.icons.png") no-repeat scroll 0 -21px rgba(0, 0, 0, 0);
    opacity: 1;
}

article .infopanel .googleplus a:hover
{
    background: url("../images/share.icons.png") no-repeat scroll -63px -21px rgba(0, 0, 0, 0);
    opacity: 1;
}

article .infopanel .twitter a:active
{
    background: url("../images/share.icons.png") no-repeat scroll -42px -42px rgba(0, 0, 0, 0);
    opacity: 1;
}

article .infopanel .vkontakte a:active
{
    background: url("../images/share.icons.png") no-repeat scroll -21px -42px rgba(0, 0, 0, 0);
    opacity: 1;
}

article .infopanel .facebook a:active
{
    background: url("../images/share.icons.png") no-repeat scroll 0 -42px rgba(0, 0, 0, 0);
    opacity: 1;
}

article .infopanel .googleplus a:active
{
    background: url("../images/share.icons.png?r=1") no-repeat scroll -63px -42px rgba(0, 0, 0, 0);
    opacity: 1;
}

.comments_list
{
    margin: 20px 0 10px;
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.comments_list h2.title
{
    background: url("../images/comments.gif") no-repeat scroll left 65% rgba(0, 0, 0, 0);
    color: #AFA56A;
    font-family: 400 20px Verdana,sans-serif;
    letter-spacing: -1px;
    margin: 0 0 20px;
    padding: 0 0 0 23px;
}

.comments_list .comment_item .info
{
    position: relative;
    font: 11px/18px tahoma,sans-serif;
}

.comments_list .comment_item .info .folding-dot-holder
{
    display: none;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.comments_list .comment_item .info .folding-dot
{
    background: url("../images/bg-folding-dot-light.png") repeat-x scroll 100% 0 rgba(0, 0, 0, 0);
    height: 5px;
    position: absolute;
    right: 1px;
    top: 9px;
    width: 500px;
}

.comments_list .comment_item:hover > .comment_body .info > .folding-dot-holder {
    display: block;
}

.comments_list .comment_item .info .voting
{
    float: right;
    margin-right: 2px;
    margin-top: 2px;
}

.comments_list .comment_item .info .voting span.minus
{
    background: url("../images/icons_vote_posts.gif") no-repeat scroll -24px -16px rgba(0, 0, 0, 0);
}

.comments_list .comment_item .info .voting .minus
{
    display: block;
    float: right;
    height: 15px;
    margin: 2px 0 0 5px;
    width: 11px;
}

.comments_list .comment_item .info .voting span.plus
{
    background: url("../images/icons_vote_posts.gif") no-repeat scroll -24px 0 rgba(0, 0, 0, 0);
}

.comments_list .comment_item .info .voting .plus
{
    display: block;
    float: right;
    height: 15px;
    margin: 2px 0 0 13px;
    width: 11px;
}

.comments_list .comment_item .info .voting .mark
{
    color: #A9A9A9;
    float: right;
    font: 700 13px Arial,Helvetica,sans-serif;
    padding-top: 2px;
}

.comments_list .comment_item .info .voting .mark.positive span
{
    color: #390;
}

.comments_list .comment_item .info a.avatar
{
    border-radius: 3px;
    display: block;
    float: left;
    height: 24px;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 24px;
}

.comments_list .comment_item .info a.avatar img
{
    display: block;
    height: 24px;
    width: 24px;
}

.comments_list .comment_item .info a.username
{
    color: #666;
    display: block;
    float: left;
    font-weight: bold;
    margin: 3px 0 0 0;
}

.comments_list .comment_item .info a.username:hover
{
    color: #333;
}

.comments_list .comment_item .info .comma
{
    color: #666;
    display: block;
    float: left;
    font-weight: 700;
    margin: 3px 10px 0 0;
}

.comments_list .comment_item .info time
{
    color: #666;
    display: block;
    float: left;
    font-size: 10px;
    margin: 3px 10px 0 0;
}

.comments_list .comment_item .info a.link_to_comment, .comments_list .comment_item .info a.to_parent
{
    text-decoration: none;
}

.comments_list .comment_item .info a.link_to_comment
{
    display: block;
    float: left;
    font-size: 11px;
    margin: 3px 10px 0 0;
}

.comments_list .comment_item .info .to_chidren
{
    display: block;
    float: left;
    margin: 0 0 0 4px;
}

.clear
{
    clear: both;
}

.comments_list .comment_item .message
{
    font: 13px/140% Arial,sans-serif;
    padding: 10px 0 5px;
}

.comments_list .comment_item .reply_comments
{
    margin: 20px 0 0;
}

.comments_list .comment_item .reply_comments .comment_item
{
    margin: 0 0 0 20px;