/* Форма настроек бреда */
#bred_form
{
    margin-top: -14px;
}

#bred_form .block
{
    background: #F0F0E7;
    border-radius: 5px;
    padding: 15px 20px;
}

#bred_form.hide
{
    position: fixed;
    left: 30px;
}

#bred_form.hide .block
{
    display: none;
}

#bred_form h1
{
    margin: 0 0 20px;
}

#bred_form .item
{
    clear: both;
    margin: 10px 0;
    height: 16px;
}

#bred_form .item > label
{
    float: left;
    width: 180px;
}

#bred_form .item > div
{
    float: left;
}

#bred_form .item select
{
    width: 50px;
}

#bred_form .item select[name="src"]{
    width: 200px;
}

#bred_form .buttons
{
    margin-top: 20px;
}

/* Коррекция хабра стилей */
#bred_article .post_text p,
#bred_article .post_text pre
{
    margin: 15px 0;
}

#bred_article .post_text pre{
    background: #eee;
    border: 1px solid #ddd;
    padding: 5px;
}