body {
	overflow-x: hidden;
}

#settings {
	position: relative;
	margin: 0 0 20px;
}

#settings .planet.brainstorage{left:0;top:0;}
#settings .planet.brainstorage .name{position: absolute;left:50px;top:-10px;}
#settings .planet.brainstorage .picture{left:-42px;top:-83px;background: url(../images/404/brainstorage.picture.png) no-repeat 0 0;width:77px;height:117px;}

#settings .planet.hantim{left:0;top:0;}
#settings .planet.hantim .name{position: absolute;left:40px;top:-10px;}
#settings .planet.hantim .picture{left:-25px;top:-25px;background: url(../images/404/freelansim.picture.png) no-repeat 0 0;width:50px;height:50px;}

#settings .planet.freelansim{left:0;top:0;}
#settings .planet.freelansim .name{position: absolute;left:40px;top:-15px;}
#settings .planet.freelansim .picture{left:-30px;top:-25px;background: url(../images/404/hantim.picture.png) no-repeat 0 0;width:59px;height:50px;}

#settings .planet{border:1px solid red;width:1px;height:1px;display:inline-block;position: absolute;}
#settings .planet a.name{display:inline-block;vertical-align: middle;color: #f9efdd;text-transform: uppercase;font-size: 15px;text-decoration:none;}
#settings .planet a.name:hover{text-decoration: underline;}

#settings .planet a.picture{display: inline-block;position: absolute;}


#settings #habr_center_universe{position: absolute;left:610px;top:220px;border: 0 solid blue;width:1px;height:1px;}

#settings .habr{display: block;width:110px;height:110px;border: 0 solid red;position: absolute;top:-55px;left:-55px;}


.settings-inner {
	padding: 30px 30px 70px;
	background: #5a556b url(../images/404/page404.bg.png) no-repeat -95% 57%;
	margin: 1px auto auto;
	position: relative;
	box-shadow: inset 0 0 0 7px #444054;
	border-radius: 5px;
}

.settings-inner h1 {
	margin: 0 0 20px 0;
	color: #fff;
	font-size: 28px;
}

.settings-inner {
	font-size: 18px;
}

.settings-inner .form {
	width: 205px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	color: #3b3749;
}

.form {
	margin: 0 0 0 30px;
}

.form span {
	font-size: 14px;
}

.form .row {
	margin-bottom: 10px;
}

.form label {
	font-size: 16px;
	margin-bottom: 3px;
}

.form select, .form input {
	font-size: 14px;
	padding: 2px 4px
}

.form input {
	width: 40px;
	text-align: center;
	color: #444054;
}

.buttons {
	text-align: center;
}

.run-btn {
	border-radius: 5px;
	text-decoration: none;
	padding: 5px 10px;
	color: #fff;
	background: #5a556b;
}
.run-btn:hover {
	color: #fff;
}
