.settings
{
    width:100%;
    min-width: 980px;
    height: 100px;
}
.fifth
{
    width:20%;
    margin:0;
    float:left;
    overflow:hidden;
}

a
{
    color: #6DA3BD;
}
a:hover
{
    color: #4d7285;
}
article p a:visited
{
    color: #909;
}

#header
{
    position: relative;
    padding-bottom: 24px;
    padding-top: 10px;
}
    #header .userpanel
    {
        position: absolute;
        left: 0;
        top: 10px;
        width: 350px;
    }
        #header .userpanel a
        {
            margin-right: 10px;
            font-size: 12px;
            font-family: arial;
        }
        .silver a
        {
            color: #999;
        }
    #header .logo
    {
        margin: 0px auto;
        background: url("http://habrahabr.ru/images/bg-multilogo.png") -76px -127px;
        display: block;
        height: 140px;
        width: 111px;
    }
    #header .search {
        position: absolute;
        right: 0;
        top: 32px;
        width: 30%;
    }
        #header .search form {
            width: 280px;
            float: right;
        }
        #header .search form input[type="submit"] {
            border: 0;
            background: url("http://habrahabr.ru/images/bg-button-enter.png") no-repeat 0 0;
            width: 21px;
            height: 21px;
            display: block;
            float: right;
            margin-left: 5px;
        }
        #header .search form input[type="text"] {
            font-size: 12px;
            font-family: arial;
            border: 1px solid #D1D1D1;
            background: #fff;
            color: #333;
            padding: 2px 4px;
            height: 15px;
            width: 226px;
            float: right;
            display: block;
        }
    #header .main_menu {
        text-align: left;
        font-size: 30px;
        font-family: Verdana,sans-serif;
        text-transform: lowercase;
        padding-top: 15px;
        overflow: hidden;
    }
        #header .main_menu a {
            margin-right: 24px;
            display: block;
            float: left;
        }
        #header .main_menu a.active {
            text-decoration: none;
            color: #000;
        }
.container
{
    width: 100%;
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    padding: 0 35px;
}

    article
    {
        display:none;
        font-size: 13px;
        margin: 0 20px 10px 0;
        line-height: 160%;
        font-family: Verdana, sans-serif;
        float: left;
        overflow: hidden;
        width: 880px;
    }
    .published {
        color: #7e7e7e;
        font-size: 11px;
        margin-bottom: 2px;
    }

    h1 {
        color: #333333;
        font: 30px/118% normal Verdana, Tahoma, sans-serif;
        letter-spacing: -1px;
        margin:0 0 8px;
    }

    .hubs {
        background: url(http://habrahabr.ru/images/posts/hub.icon.png) no-repeat 0px 0px;
        padding-left: 25px;
        font-size: 11px;
        padding-top: 2px;
        padding-bottom: 2px;
        color: #999;
        margin-bottom: 15px;
    }

    .hubs a {
        color: #999;
    }


    article.new_text {
        display: block;
    }
            article > p > h2,
            article > p > h3,
            article > p > h4,
            article > p > h5,
            article > p > h6
            {
                color: #999999;
                font-family: Verdana,sans-serif;
                font-weight: normal;
            }
            article > p > h2
            {
                font-size: 140%;/**/
            }
            article > p > h3
            {
                font-size: 130%;/**/
            }
            article > p > h4
            {
                font-size: 120%;
            }
            article > p > h5
            {
                font-size: 110%;
            }
            article > p > h6
            {
                font-size: 105%; /**/
            }

                

            article > p > a:hover, .message > a:hover
            {
                color: #4d7285;
            }

            article > p > a:visited, .message > a:visited
            {
                color: #909;
            }

        ul.tags {
            margin-bottom: 15px;
            font-family: Verdana, sans-serif;
            background: url(http://habrahabr.ru/images/bg-tags2.gif) no-repeat scroll 0 50%;
            font-size: 10px;
            padding: 2px 0;
            padding-left: 20px;
            list-style: none;
        }

            ul.tags li {
                display: inline;
                color: #999999;
            }

                ul.tags li a {
                    color: #666666;
                }

        .comments
        {
            font-size: 13px;
            font-family: Arial, sans-serif;
            line-height: 140%;
            padding-bottom: 5px;
            padding-top: 10px;
        }
            
            .comment
            {
                margin-bottom: 20px;
            }

            .comments .comment:last-child
            {
                margin-bottom: 0;
            }

                a.avatar
                {
                    float: left;
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    display: block;
                    overflow: hidden;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                }
                    a.avatar > img
                    {
                        display: block;
                        width: 24px;
                        height: 24px;
                    }

                .username
                {
                    float: left;
                    margin-top: 3px;
                    color: #666666;
                    font-weight: bold;
                    text-decoration: underline;
                    cursor: pointer;
                }

                .username:hover
                {
                    color: #333;
                }

                .comma
                {
                    float: left;
                    margin-top: 3px;
                    margin-right: 10px;
                    display: block;
                    color: #666;
                    font-weight: bold;
                }

                time
                {
                    display: block;
                    margin-top: 3px;
                    font-size: 10px;
                    color: #666666;
                    float: left;
                    margin-right: 10px;
                }
                .link_to_comment
                {
                    text-decoration: none;
                    display: block;
                    margin-top: 3px;
                    font-size: 11px;
                    float: left;
                    margin-right: 10px;
                    color: #6DA3BD;
                }

                .message
                {
                    clear: both;
                }
                    blockquote
                    {
                        border-left: 2px solid #bbb;
                        margin: .83em 0;
                        padding-left: 15px;
                        clear: both;
                        quotes: none;
                    }

            code
            {
                font-size: 12px;
                background: #f8f8f8;
                white-space: pre-wrap;
                font-family: Menlo, Monaco, "Courier New", monospace;
                padding: 1px 4px;
                color: #222;
                background-color: #F7F7F9;
                border: 1px solid #E1E1E8;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }
            pre code
            {
                display: block;
            }
    .sidebar_right
    {
        float: right;
        width: 300px;
    }
        .block
        {
            font: 400 12px/18px Tahoma, Arial, sans-serif;
            padding: 15px 20px;
            margin-bottom: 20px;
            background: #f0f0e7;
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                 -o-border-radius: 5px;
                    border-radius: 5px;
        }
            .block > .title
            {
                color: #999999;
                margin-bottom: 20px;
                font-size: 24px;
                letter-spacing: -1px;
                font-family: Verdana, sans-serif;
            }

            .block ul
            {
                list-style: none;
                padding: 0;
            }

                .block ul li
                {
                    margin-bottom: 10px;
                }

                    .block ul a
                    {
                        color: #666;
                    }

                        .block ul a:hover
                        {
                            color: #a3a3a3;
                        }